[workspace]
authors = ["James Gregory <james.gregory@utas.edu.au>"]
channels = ["conda-forge"]
name = "naturescan-data-platform"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[dependencies]
python = ">=3.14.2,<3.15"
