[workspace]
authors = ["James Gregory <james.gregory@utas.edu.au>"]
channels = ["conda-forge"]
name = "naturescan-data-platform"
platforms = ["linux-64", "osx-arm64"]
version = "0.1.0"

[tasks]

[dependencies]
python = ">=3.12,<3.13"
uvicorn = ">=0.38.0,<0.39"

[feature.geo.dependencies]
gdal = ">=3.12.0,<4"
rasterio = ">=1.4.0,<2"
pyproj = ">=3.7.0,<4"
shapely = ">=2.0.0,<3"

[feature.api-titiler.activation]
scripts = ["services/api-titiler/titiler_env_vars.sh"]

[feature.api-titiler.pypi-dependencies]
titiler-application = ">=0.26.0, <0.27"

[feature.api-titiler.tasks.dev-api-titiler]
description = "Start the TiTiler API."
cmd = "uvicorn titiler.application.main:app --reload --port 8001"

[feature.api-stac.tasks.dev-api-stac]
description = "Start the STAC API using provided collections URL."
args = [
    { arg = "collections_href", default = "https://dev.tern-dronescape.cloud.edu.au/assets/collections.json" },
]
cmd = """
STAC_FASTAPI_COLLECTIONS_HREF='{{ collections_href }}' \
uvicorn stac_fastapi.geoparquet.main:app --reload --port 8002
"""

[feature.api-stac.pypi-dependencies]
stac-fastapi-geoparquet = ">=0.0.2, <0.0.3"
rustac = ">=0.7.0, <0.9.0"

[feature.web-app.tasks._dev-web-app-install]
description = "Install the web app dependencies."
cwd = 'apps/web-app'
cmd = "pnpm install"

[feature.web-app.tasks.dev-web-app]
description = "Start the web app in development mode."
cwd = 'apps/web-app'
cmd = "pnpm run dev"
depends-on = ["_dev-web-app-install"]

[feature.web-app.dependencies]
pnpm = ">=10.26.0,<11"
nodejs = ">=22.21.1,<22.22"

[feature.notebooks.dependencies]
jupyterlab = ">=4.5.1,<5"
ipykernel = ">=7.1.0,<8"
matplotlib = ">=3.10.8,<4"

[feature.notebooks.tasks.dev-notebooks]
description = "Start JupyterLab for data exploration and analysis."
cmd = "jupyter lab --notebook-dir=notebooks"

[feature.api-segmentation.dependencies]
fastapi = ">=0.125.0,<0.126"
ultralytics = ">=8.3.240,<9"
numpy = ">=2.3.5,<3"
supervision = ">=0.25.1,<0.26"

[feature.api-segmentation.pypi-dependencies]
pydantic-settings = ">=2.0.0,<3"
torch = ">=2.9.1, <3"
torchvision = ">=0.24.1, <0.25"

[feature.api-segmentation.tasks.dev-api-segmentation]
description = "Start the Segmentation API."
cwd = "services/api-segmentation"
cmd = "uvicorn api_segmentation.main:app --reload --port 8003"

[environments]
api-titiler = ["geo", "api-titiler"]
api-stac = ["api-stac"]
web-app = ["web-app"]
notebooks = ["geo", "notebooks"]
api-segmentation = ["geo", "api-segmentation"]
