{
	email james.gregory@utas.edu.au
}

stacapi.tern-dronescape.cloud.edu.au {
	reverse_proxy api-stac:8002
}

titiler.tern-dronescape.cloud.edu.au {
	reverse_proxy api-titiler
}

app.tern-dronescape.cloud.edu.au {
	reverse_proxy web-app
}
